@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
	/*移行済みのもの*/

	/*BasicTextColor*/
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-text-tertiary: var(--text-tertiary);

	/*PrimaryActionColor*/
	--color-primary-action: var(--primary-action);
	--color-primary-action-hover: var(--primary-action-hover);
	--color-primary-action-active: var(--primary-action-active);

	--color-app-background: var(--n1-app-background);
	--color-n4-components-background: var(--n4-components-background);
	--color-n5-usercontrol-background: var(--n5-usercontrol-background);
	--color-foreground: var(--foreground);
	--color-card-foreground: var(--card-foreground);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: oklch(0.985 0 0);
	--color-border: var(--border);
	--color-border-strong: var(--n2-border-strong);
	--color-border-weak: var(--n3-border-weak);
	--color-input: var(--input);
	--color-ring: var(--ring);
}

@layer base {
	body {
		@apply bg-app-background text-text-primary;
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
	html {
		@apply font-sans;
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@theme inline {
	--font-heading: var(--font-sans);
	--font-sans: "Geist Variable", sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-border-strong: var(--n2-border-strong);
	--color-border-weak: var(--n3-border-weak);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-active: var(--primary-active);
	--color-popover-foreground: var(--popover-foreground);
	--color-card-foreground: var(--card-foreground);
	--color-foreground: var(--foreground);
	--color-app-background: var(--n1-app-background);
	--color-n4-components-background: var(--n4-components-background);
	--color-n5-usercontrol-background: var(--n5-usercontrol-background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--n1-app-background: #f4f4f5;
	--n4-components-background: #ffffff;
	--n5-usercontrol-background: #ffffff;

	--text-primary: #0b1728;
	--text-secondary: #52525b;
	--text-tertiary: #a1a1aa;

	--primary-action: #9ce1fd;
	--primary-action-hover: #9ce1fdcc;
	--primary-action-active: #7dd3fc;

	--n2-border-strong: #d0d0d6;
	--n3-border-weak: #e4e4e7;

	--radius: 0.625rem;
}
